@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}

a {
  @apply text-gray-800;
}

a:hover {
  @apply text-blue-600;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.custom-number-input .increment,
.custom-number-input .decrement {
  @apply w-6 h-6 bg-gray-100 border border-gray-300 rounded flex items-center justify-center;
}
#ImageCard {
  animation: showSide 1s;
  animation-fill-mode: forwards;
  transition: all 0.5s;
}
@keyframes showSide {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.preview {
  transform: translateX(0%);
  transition: all 0.7s;
  animation: showSide 0.4s ease-in-out;
}
